<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Tarefa</title>
    <!-- Link para o CSS do Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/adicionarTarefas.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center text-success">Adicionar Tarefa</h1>
    <form method="post" th:action="@{/tarefa/save}">
        <div class="form-group">
            <label for="descricao" class="text-success">Descrição:</label>
            <input type="text" id="descricao" name="descricao" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="data_inicio" class="text-success">Data de Início:</label>
            <input type="date" id="data_inicio" name="data_inicio" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="data_limite" class="text-success">Data Limite:</label>
            <input type="date" id="data_limite" name="data_limite" class="form-control" required>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-success">Adicionar Tarefa</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='/todasTarefas';">Voltar</button>
        </div>
    </form>
</div>
<!-- Scripts do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
